# Perkenalan

Nama : Nailina Farah

Batch : FTDS_RMT_28

Dataset : credit_card_default (FROM bigquery-public-data.ml_datasets.credit_card_default)

# Model Inference

In [1]:
# Import Libaries
import pickle
import json
import pandas as pd

# Load Model
> Load model yang telah dibuat pada notebook berbeda

In [2]:
# Load all models dari perhitungan sebelumnya

with open('model_SVC.pkl', 'rb') as  file_1: 
  model_svc = pickle.load(file_1)

with open('num_col.txt', 'r') as file_2:
  num_col = json.load(file_2)

with open('cat_col.txt', 'r') as file_3:
  cat_col = json.load(file_3)

# Create Data Inference
> Membuat data baru untuk mencoba model yang telah dibuat

Menginput value dari kolom-kolom pada data_inf

In [3]:
# create new data
data_inf = {
    'limit_balance':20000, 
    'education_level':2, 
    'pay_0':1.0, 
    'pay_2':-1.0, 
    'pay_3':0.0, 
    'pay_4':-2.0,
    'pay_5':-2.0, 
    'pay_6':-2.0, 
    'pay_amt_1':0, 
    'pay_amt_2':0.316, 
    'pay_amt_3':0.316, 
    'pay_amt_4':0,
    'pay_amt_5':0, 
    'pay_amt_6':0
}

data_inf = pd.DataFrame([data_inf])
data_inf

,limit_balance,education_level,pay_0,pay_2,pay_3,pay_4,pay_5,pay_6,pay_amt_1,pay_amt_2,pay_amt_3,pay_amt_4,pay_amt_5,pay_amt_6
0,20000,2,1.0,-1.0,0.0,-2.0,-2.0,-2.0,0,0.316,0.316,0,0,0

Split kolom numerik dan kategorik untuk dipastikan saja.

In [4]:
# Split between numerical and categorical columns
data_inf_num = data_inf[num_col]
data_inf_cat = data_inf[cat_col]
data_inf_cat

   education_level  pay_0  pay_2  pay_3  pay_4  pay_5  pay_6
0                2    1.0   -1.0    0.0   -2.0   -2.0   -2.0

In [5]:
data_inf_num

,limit_balance,pay_amt_1,pay_amt_2,pay_amt_3,pay_amt_4,pay_amt_5,pay_amt_6
0,20000,0,0.316,0.316,0,0,0

In [6]:
# Predict new data inference using svm model
y_pred_inf = model_svc.predict(data_inf)
if y_pred_inf[0] == 1:
    print("Hasil prediksi memperkirakan bahwa akan terjadi default payment pada bulan berikutnya.")
else:
    print("Hasil prediksi memperkirakan bahwa tidak akan terjadi default payment pada bulan berikutnya.")

Hasil prediksi memperkirakan bahwa tidak akan terjadi default payment pada bulan berikutnya.

Setelah dilakukan prediksi di data baru dengan nilai setiap kolom yang telah diinput, didapatkan hasil 0 yang saya ubah menjadi kata kata "memperkirakan bahwa tidak akan terjadi default payment pada bulan berikutnya."